<div id="collegue" class="m-3 p-3" *ngIf="collegue;else noCollegue">

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6  text-center"><img
        src="https://www.fanactu.com/medias/shaun-le-mouton---le-film-nouvelle-bande-annonce_5866/shaun-le-mouton---le-film-nouvelle-bande-annonce-desktop-175233.jpg"
        width="500"></div>
    <div class="col-3"></div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-6  text-center">{{collegue.pseudo}}</div>
    <div class="col-3"></div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-6 text-center">{{collegue.score}}</div>
    <div class="col-3"></div>
  </div>

  <div class="row m-5">
    <div class="col-3"></div>
    <div class="col-6">
      <app-avis></app-avis>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<ng-template #noCollegue>
  <h1 class="alert alert-danger">Aucun collegue définit</h1>
</ng-template>
