<div id="collegue" class="m-3 p-3" *ngIf="collegue;else noCollegue">
  <img [src]="collegue.photoUrl" class="card-img-top" alt="Photo du personnage">
  <div class="card-body">
    <h5 class="card-title">{{collegue.pseudo | uppercase}}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item texte-center mx-auto">
        Score : {{collegue.score}}
      </li>
      <li class="list-group-item texte-center">
        <app-avis (donnerUnAvisEvt)="prendreEnCompteAvis($event)" [score]="collegue.score"></app-avis>
      </li>
    </ul>
  </div>
</div>
<ng-template #noCollegue>
  <h1 class="alert alert-danger">Aucun collegue définit</h1>
</ng-template>
